<table class="table">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Participating Villages</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <% if !activity.village_activities.empty? %>
          <td><%= activity.name %></td>
          <td>
            <% for va in activity.village_activities %>
              <%= va.village.name+" , " %>
            <% end -%>
            </td>
        <% end -%>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Village</th>
      <th>Activites</th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <% if !village.village_activities.empty? %>
          <td><%= village.name %></td>
          <td>
            <% for va in village.village_activities %>
              <%= va.activity.name+" | " %>
            <% end -%><!--end for-->
            </td>
        <% end -%>
    <% end %>
</table>