<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArRRQgBv9OAQ5ohEYrFwd1PX97V-VZv00&sensor=false">
    </script>
    <script type="text/javascript">
    var map;
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(20.745319, 78.60219459999999),
          zoom: 9,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
        addMarker();
      }

      function addMarker() {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(20.745319, 78.60219459999999),
          title: 'Wardha',
          map: map
        })
      }

      // function addMarker() {
      //   <% vill_acts = @village_activities %>
      //   <% count = 0 %>
      //   var va_array_js = new Array();
      //   for (var va = 0; va < <%= vill_acts.size %>; va++) {

      //     var marker = new google.maps.Marker({
      //       position: new google.maps.LatLng(<%= vill_acts[count].village.latitude %>, <%= vill_acts[count].village.longitude %>),
      //       title: '<%= vill_acts[count].village.name %>',
      //       // map: map was here
      //       <% count+=1 %>
      //       va_array_js[va] = marker
      //     })
      //   }
      //   map: map
      // }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <!--potentially need to add parens after initialize or nix onload altogether-->
  <body onload="initialize()" style="width:$(window).height(); height:800px">
    <div id="map_canvas" style="width:800px; height:800px"></div>
  </body>
</html>