<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArRRQgBv9OAQ5ohEYrFwd1PX97V-VZv00&sensor=false">
    </script>
    <script type="text/javascript">
    var vill_acts = <% @village_activities %>;
    var map;
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(20.745319, 78.60219459999999),
          zoom: 9,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
        addMarker();
      }

      function addMarker() {
        for (var va = 0; va < vill_acts.length; va++) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(vill_acts[va].village.latitude, vill_acts[va].village.longitude),
            title: vill_acts[va].village.name,
            map: map
          })
        }
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <!--potentially need to add parens after initialize or nix onload altogether-->
  <body onload="initialize()" style="width:$(window).height(); height:800px">
    <div id="map_canvas" style="width:800px; height:800px"></div>
  </body>
</html>