<p>
  <a href="index">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="privacy">Privacy Policy</a>
</p>
<div id="copyright">
  <br />Webmaster: <%= mail_to "tonime@andrew.cmu.edu", "Theophilus Onime", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2014
  <br /><br />
</div>