<h2>About the Bajaj Foundation</h2>

<p> 
  The Bajaj Rural Development Lab bridges Carnegie Mellon University and the villages surrounding Mahatma Gandhi's last ashram in the rural district of Wardha, India. We work with the Kamalnayan Jamnalal Bajaj Foundation to create a model of rural development for India and the world.</p>

<p>The Kamalnayan Jamnalal Bajaj Foundation is dedicated to empowering rural communities. Since beginning work in 2009, the foundation has many achievements:</p>

<ul>
	<li>653 women's self-help groups</li>
	<li>2070 acres of small-scale horticultural farms</li>
	<li>618 biogas plants</li>
	<li>20 revived rivers, with over 53 km of river bed deepened and widened</li>
	<li>126 group wells</li>
	<li>134 lift irrigation systems</li>
	<li>40 check dams</li>
	<li>9 percolation tanks</li>
	<li>747 recharged wells</li>
	<li>609 farm ponds</li>
	<li>1100 micro-irrigation systems</li>
</ul>

<p>In the fiscal year 2011/2012, the Bajaj Foundation spent over 46 million rupees (roughly one million dollars) in 414 villages throughout Wardha. Rooted in a strong commitment to grassroots, participatory development, the Bajaj Foundation has strong ties to the history of Wardha.</p>