<h2>Contact the Bajaj Foundation</h2>

<strong>Bajaj Rural Development Lab</strong>

<p>For more information on the Bajaj Lab, please contact Professor Nico Slate:</p>

Nico Slate</br>
Bajaj Rural Development Lab</br>
Baker Hall 240</br>
Carnegie Mellon University</br>
5000 Forbes Avenue</br>
Pittsburgh, PA 15206</br>
</br>
Tel: 412-268-1408</br>
Email: slate@cmu.edu</br>

<strong>Kamalnayan Jamnalal Bajaj Foundation</strong>

<p>The Kamalnayan Jamnalal Bajaj Foundation can be contacted online or via one of two offices:
Programme Office:</p>

Mr. Mahendra Phate</br>
Kamalnayan Jamnalal Bajaj Foundation</br>
Gopuri Satoda Road</br>
Parvati Nagari</br>
AT PO: Wardha - 442 001</br>
Maharashtra, India</br>
Tel: +91-7152-250867</br>
</br>
Administrative Office:</br>
Mr. Haribhai Mori</br>
Bajaj Bhawan 10th Floor</br>
Jamnalal Bajaj Marg, 226,</br>
Nariman Point, Mumbai 400 021,</br>
Maharashtra, India</br>
Tel: +91-22-22023605</br>

<p>If you would like to contact the developers of this map, you can contact Theophilus Onime or Gale Bonker at:</p>

Theophilus Onime</br>
Phone: 832-287-6541</br>
Email: tonime@andrew.cmu.edu</br>
</br>
Gale Bonker</br>
Phone: 973-459-8693</br>
Email: gbonker@andrew.cmu.edu</br>

