<h1>The Bajaj Foundation Progress Map</h1>

<%# image_tag @map %>
<%# render partial: 'partials/dynamic_map' %>
<%= render partial: 'partials/dynamic_map_with_json' %>



<br><br>

<p>If you would like a village to appear on the map, go to "Village-Activities" at the top of the page, click on "Add a Village-Activity," and associate that village with its appropriate activity.</p>

<%= render partial: 'partials/village_activity_table' %>