<h2>The Bajaj Foundation Map Application Privacy Policy</h2>

<p>Professor Nico Slate has been working closely with the Bajaj Foundation for a long time,
and for his class called Sustainable Social Change: History and Practice, he assigned a group of
students, including Theophilus Onime and Gale Bonker, to create this map so that the Bajaj Foundation
can visually track their progress. However, at the moment, the map is not at all secure. Anyone
can just come in and make any villages and activities they want. If we had more time in this
semester, we would have added authentication and authorization to this project so that only
administrators could add, edit and delete villages and activities. This is an important change that
we suggest for whoever takes over this map after the semester is over. We thank Nico Slate and the
Bajaj Foundation for all that they have done, and we hope that this map can be further developed in
the future.</p>