<% unless @inactive_villages.empty? %>
  <div class="panel clearfix">
    <h5>Inactive Villages</h5>
    <ul class="side-nav">
      <% @inactive_villages.each do |village| %>
        <li><%= link_to village.name, village_path(village) %></li>
      <% end %>
    </ul>
  </div>
<% end %>