<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_activities" %>
    <br />
  </div>

  <div class="small-5 columns">
    <% if logged_in? %>
      <!-- SIDEBAR CONTENT GOES HERE -->
      <br /><br /><br /><%= render partial: 'inactive_activities' %><br />
    <% end %>
  </div>
</div>

