<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <% end %>
  </tbody>
</table>

<br>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @activities, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />

